# <span style="color:darkblue"> QTM 151 - Assignment 8 </span>

## Try to submit as an HTML file



### Print your name below

In [ ]:
# Write your answer here
print("Samuel Besley")

### Import the "pandas" library

In [4]:
# Write your answer here
import pandas as pd

### You will need the material from Lecture 14 and 15 for this assignment.



### Import the dataset "imdb_top_1000.csv" and save it as "movies." <br> 
This includes data on the top 1000 movies by IMDB rating.

In [5]:
movies = pd.read_csv("/Users/samuelbesley/Documents/GitHub/qtm151spring2025/assignment8/data_raw/imdb_top_1000.csv")

### (a) Groupby + Aggregate Statistics

Create a new dataset **"movies_agg"** by grouping the "movies" dataset by **"Genre"** and then computing <br>the following aggregate statistics for **"IMDB_Rating"**:

- **Mean**
- **Standard Deviation**
- **Minimum**
- **Maximum**

Add a chain to sort by the mean IMDB rating in descending order.

Display the resulting dataset **"movies_agg"**.

In [6]:
# Write your own code
movies_agg = (
    movies.groupby("Genre")["IMDB_Rating"]
    .agg(["mean", "std", "min", "max"])
    .sort_values(by="mean", ascending=False)
)
print(movies_agg)

                            mean       std  min  max
Genre
Animation, Drama, War       8.50       NaN  8.5  8.5
Drama, Musical              8.40       NaN  8.4  8.4
Action, Sci-Fi              8.40  0.360555  8.0  8.7
Drama, Mystery, War         8.35  0.070711  8.3  8.4
Western                     8.35  0.420317  7.8  8.8
...                          ...       ...  ...  ...
Adventure, Comedy, War      7.60       NaN  7.6  7.6
Animation, Comedy, Crime    7.60       NaN  7.6  7.6
Action, Adventure, Family   7.60       NaN  7.6  7.6
Animation, Drama, Romance   7.60       NaN  7.6  7.6
Action, Adventure, Mystery  7.60       NaN  7.6  7.6

[202 rows x 4 columns]

### (b) Merge Data

Create a new dataset **"movies_merge"** by merging the aggregate information <br> 
from (a) into "movies".

Display the resulting dataset **"movies_merge"**.

In [7]:
# Write your own code
movies_merge = movies.merge(movies_agg, left_on="Genre", right_index=True, how="left")
print(movies_merge)

                         Name Released_Year   Length  \
0    The Shawshank Redemption          1994  142 min
1               The Godfather          1972  175 min
2             The Dark Knight          2008  152 min
3      The Godfather: Part II          1974  202 min
4                12 Angry Men          1957   96 min
..                        ...           ...      ...
995    Breakfast at Tiffany's          1961  115 min
996                     Giant          1956  201 min
997     From Here to Eternity          1953  118 min
998                  Lifeboat          1944   97 min
999              The 39 Steps          1935   86 min

                        Genre  IMDB_Rating  \
0                       Drama          9.3
1                Crime, Drama          9.2
2        Action, Crime, Drama          9.0
3                Crime, Drama          9.0
4                Crime, Drama          9.0
..                        ...          ...
995    Comedy, Drama, Romance          7.6
996            Drama, Western          7.6
997       Drama, Romance, War          7.6
998                Drama, War          7.6
999  Crime, Mystery, Thriller          7.6

                                              Overview              Director  \
0    Two imprisoned men bond over a number of years...        Frank Darabont
1    An organized crime dynasty's aging patriarch t...  Francis Ford Coppola
2    When the menace known as the Joker wreaks havo...     Christopher Nolan
3    The early life and career of Vito Corleone in ...  Francis Ford Coppola
4    A jury holdout attempts to prevent a miscarria...          Sidney Lumet
..                                                 ...                   ...
995  A young New York socialite becomes interested ...         Blake Edwards
996  Sprawling epic covering the life of a Texas ca...        George Stevens
997  In Hawaii in 1941, a private is cruelly punish...        Fred Zinnemann
998  Several survivors of a torpedoed merchant ship...      Alfred Hitchcock
999  A man in London tries to help a counter-espion...      Alfred Hitchcock

                 Star1              Star2        Gross      mean       std  \
0          Tim Robbins     Morgan Freeman   28,341,469  7.975294  0.305468
1        Marlon Brando          Al Pacino  134,966,411  8.157692  0.448262
2       Christian Bale       Heath Ledger  534,858,444  7.880000  0.316664
3            Al Pacino     Robert De Niro   57,300,000  8.157692  0.448262
4          Henry Fonda        Lee J. Cobb    4,360,000  8.157692  0.448262
..                 ...                ...          ...       ...       ...
995     Audrey Hepburn     George Peppard          NaN  7.877419  0.257824
996   Elizabeth Taylor        Rock Hudson          NaN  7.980000  0.363318
997     Burt Lancaster   Montgomery Clift   30,500,000  8.025000  0.368556
998  Tallulah Bankhead        John Hodiak          NaN  8.073333  0.276371
999       Robert Donat  Madeleine Carroll          NaN  8.133333  0.472582

     min  max
0    7.6  9.3
1    7.6  9.2
2    7.6  9.0
3    7.6  9.2
4    7.6  9.2
..   ...  ...
995  7.6  8.6
996  7.6  8.4
997  7.6  8.5
998  7.6  8.6
999  7.6  8.5

[1000 rows x 14 columns]

### (c) Rename Columns + Dictionaries

Create a new dataset **"movies_rename"** by renaming the following columns in <br>the "movies" dataset using a dictionary:

- "Name" --> **"Movie_Title"**
- "Length" --> **"Runtime"**
- "Gross" --> **"Revenue"**

Verify that this renaming worked by printing the lists of the old ("movies") and new <br>("movies_rename") column names.

In [8]:
# Write your own code
movies_rename = movies.rename(columns={"Name": "Movie_Title", "Length": "Runtime", "Gross": "Revenue"})
print("Old columns:", movies.columns.tolist())
print("New columns:", movies_rename.columns.tolist())

Old columns: ['Name', 'Released_Year', 'Length', 'Genre', 'IMDB_Rating', 'Overview', 'Director', 'Star1', 'Star2', 'Gross']
New columns: ['Movie_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Director', 'Star1', 'Star2', 'Revenue']

### (d) Split Data

Use ".query()" to split the "movies_rename" dataset from (c) into different parts:

- Those directed by **Steven Spielberg**, saved to a dataset titled **"movies_spielberg"**
- Those directed by **Christopher Nolan**, saved to a dataset titled **"movies_nolan"**

In [12]:
# Write your own code

movies_spielberg = movies_rename.query('Director == "Steven Spielberg"')
movies_nolan = movies_rename.query('Director == "Christopher Nolan"')
print(movies_spielberg)
print(movies_nolan)

                            Movie_Title Released_Year  Runtime  \
7                      Schindler's List          1993  195 min
24                  Saving Private Ryan          1998  169 min
72              Raiders of the Lost Ark          1981  115 min
168  Indiana Jones and the Last Crusade          1989  127 min
243                 Catch Me If You Can          2002  141 min
262                       Jurassic Park          1993  127 min
415                                Jaws          1975  124 min
682                    The Color Purple          1985  154 min
688          E.T. the Extra-Terrestrial          1982  115 min
832                   Empire of the Sun          1987  153 min
890                     Bridge of Spies          2015  142 min
951                     Minority Report          2002  145 min
988  Close Encounters of the Third Kind          1977  138 min

                         Genre  IMDB_Rating  \
7    Biography, Drama, History          8.9
24                  Drama, War          8.6
72           Action, Adventure          8.4
168          Action, Adventure          8.2
243    Biography, Crime, Drama          8.1
262  Action, Adventure, Sci-Fi          8.1
415        Adventure, Thriller          8.0
682                      Drama          7.8
688             Family, Sci-Fi          7.8
832     Action, Drama, History          7.7
890   Drama, History, Thriller          7.6
951     Action, Crime, Mystery          7.6
988              Drama, Sci-Fi          7.6

                                              Overview          Director  \
7    In German-occupied Poland during World War II,...  Steven Spielberg
24   Following the Normandy Landings, a group of U....  Steven Spielberg
72   In 1936, archaeologist and adventurer Indiana ...  Steven Spielberg
168  In 1938, after his father Professor Henry Jone...  Steven Spielberg
243  Barely 21 yet, Frank is a skilled forger who h...  Steven Spielberg
262  A pragmatic paleontologist visiting an almost ...  Steven Spielberg
415  When a killer shark unleashes chaos on a beach...  Steven Spielberg
682  A black Southern woman struggles to find her i...  Steven Spielberg
688  A troubled child summons the courage to help a...  Steven Spielberg
832  A young English boy struggles to survive under...  Steven Spielberg
890  During the Cold War, an American lawyer is rec...  Steven Spielberg
951  In a future where a special police unit is abl...  Steven Spielberg
988  Roy Neary, an electric lineman, watches how hi...  Steven Spielberg

                 Star1              Star2      Revenue
7          Liam Neeson      Ralph Fiennes   96,898,818
24           Tom Hanks         Matt Damon  216,540,909
72       Harrison Ford        Karen Allen  248,159,971
168      Harrison Ford       Sean Connery  197,171,806
243  Leonardo DiCaprio          Tom Hanks  164,615,351
262          Sam Neill         Laura Dern  402,453,882
415       Roy Scheider        Robert Shaw  260,000,000
682       Danny Glover    Whoopi Goldberg   98,467,863
688       Henry Thomas     Drew Barrymore  435,110,554
832     Christian Bale     John Malkovich   22,238,696
890          Tom Hanks       Mark Rylance   72,313,754
951         Tom Cruise      Colin Farrell  132,072,926
988   Richard Dreyfuss  François Truffaut  132,088,635
               Movie_Title Released_Year  Runtime                      Genre  \
2          The Dark Knight          2008  152 min       Action, Crime, Drama
8                Inception          2010  148 min  Action, Adventure, Sci-Fi
21            Interstellar          2014  169 min   Adventure, Drama, Sci-Fi
36            The Prestige          2006  130 min     Drama, Mystery, Sci-Fi
63   The Dark Knight Rises          2012  164 min          Action, Adventure
69                 Memento          2000  113 min          Mystery, Thriller
155          Batman Begins          2005  140 min          Action, Adventure
573                Dunkirk          2017  106 min     Action, Drama, History

     IMDB_Rating                                           Overview  \
2            9.0  When the menace known as the Joker wreaks havo...
8            8.8  A thief who steals corporate secrets through t...
21           8.6  A team of explorers travel through a wormhole ...
36           8.5  After a tragic accident, two stage magicians e...
63           8.4  Eight years after the Joker's reign of anarchy...
69           8.4  A man with short-term memory loss attempts to ...
155          8.2  After training with his mentor, Batman begins ...
573          7.8  Allied soldiers from Belgium, the British Empi...

              Director                Star1                 Star2      Revenue
2    Christopher Nolan       Christian Bale          Heath Ledger  534,858,444
8    Christopher Nolan    Leonardo DiCaprio  Joseph Gordon-Levitt  292,576,195
21   Christopher Nolan  Matthew McConaughey         Anne Hathaway  188,020,017
36   Christopher Nolan       Christian Bale          Hugh Jackman   53,089,891
63   Christopher Nolan       Christian Bale             Tom Hardy  448,139,099
69   Christopher Nolan           Guy Pearce      Carrie-Anne Moss   25,544,867
155  Christopher Nolan       Christian Bale         Michael Caine  206,852,432
573  Christopher Nolan      Fionn Whitehead         Barry Keoghan  188,373,161

### (e) Concatenate Data

Concatenate the datasets you created in (d) to a new dataset titled **"movies_concat"**.

Display the resulting dataset **"movies_concat"**.

In [13]:
movies_concat = pd.concat([movies_spielberg, movies_nolan], ignore_index=True)
print(movies_concat)

                           Movie_Title Released_Year  Runtime  \
0                     Schindler's List          1993  195 min
1                  Saving Private Ryan          1998  169 min
2              Raiders of the Lost Ark          1981  115 min
3   Indiana Jones and the Last Crusade          1989  127 min
4                  Catch Me If You Can          2002  141 min
5                        Jurassic Park          1993  127 min
6                                 Jaws          1975  124 min
7                     The Color Purple          1985  154 min
8           E.T. the Extra-Terrestrial          1982  115 min
9                    Empire of the Sun          1987  153 min
10                     Bridge of Spies          2015  142 min
11                     Minority Report          2002  145 min
12  Close Encounters of the Third Kind          1977  138 min
13                     The Dark Knight          2008  152 min
14                           Inception          2010  148 min
15                        Interstellar          2014  169 min
16                        The Prestige          2006  130 min
17               The Dark Knight Rises          2012  164 min
18                             Memento          2000  113 min
19                       Batman Begins          2005  140 min
20                             Dunkirk          2017  106 min

                        Genre  IMDB_Rating  \
0   Biography, Drama, History          8.9
1                  Drama, War          8.6
2           Action, Adventure          8.4
3           Action, Adventure          8.2
4     Biography, Crime, Drama          8.1
5   Action, Adventure, Sci-Fi          8.1
6         Adventure, Thriller          8.0
7                       Drama          7.8
8              Family, Sci-Fi          7.8
9      Action, Drama, History          7.7
10   Drama, History, Thriller          7.6
11     Action, Crime, Mystery          7.6
12              Drama, Sci-Fi          7.6
13       Action, Crime, Drama          9.0
14  Action, Adventure, Sci-Fi          8.8
15   Adventure, Drama, Sci-Fi          8.6
16     Drama, Mystery, Sci-Fi          8.5
17          Action, Adventure          8.4
18          Mystery, Thriller          8.4
19          Action, Adventure          8.2
20     Action, Drama, History          7.8

                                             Overview           Director  \
0   In German-occupied Poland during World War II,...   Steven Spielberg
1   Following the Normandy Landings, a group of U....   Steven Spielberg
2   In 1936, archaeologist and adventurer Indiana ...   Steven Spielberg
3   In 1938, after his father Professor Henry Jone...   Steven Spielberg
4   Barely 21 yet, Frank is a skilled forger who h...   Steven Spielberg
5   A pragmatic paleontologist visiting an almost ...   Steven Spielberg
6   When a killer shark unleashes chaos on a beach...   Steven Spielberg
7   A black Southern woman struggles to find her i...   Steven Spielberg
8   A troubled child summons the courage to help a...   Steven Spielberg
9   A young English boy struggles to survive under...   Steven Spielberg
10  During the Cold War, an American lawyer is rec...   Steven Spielberg
11  In a future where a special police unit is abl...   Steven Spielberg
12  Roy Neary, an electric lineman, watches how hi...   Steven Spielberg
13  When the menace known as the Joker wreaks havo...  Christopher Nolan
14  A thief who steals corporate secrets through t...  Christopher Nolan
15  A team of explorers travel through a wormhole ...  Christopher Nolan
16  After a tragic accident, two stage magicians e...  Christopher Nolan
17  Eight years after the Joker's reign of anarchy...  Christopher Nolan
18  A man with short-term memory loss attempts to ...  Christopher Nolan
19  After training with his mentor, Batman begins ...  Christopher Nolan
20  Allied soldiers from Belgium, the British Empi...  Christopher Nolan

                  Star1                 Star2      Revenue
0           Liam Neeson         Ralph Fiennes   96,898,818
1             Tom Hanks            Matt Damon  216,540,909
2         Harrison Ford           Karen Allen  248,159,971
3         Harrison Ford          Sean Connery  197,171,806
4     Leonardo DiCaprio             Tom Hanks  164,615,351
5             Sam Neill            Laura Dern  402,453,882
6          Roy Scheider           Robert Shaw  260,000,000
7          Danny Glover       Whoopi Goldberg   98,467,863
8          Henry Thomas        Drew Barrymore  435,110,554
9        Christian Bale        John Malkovich   22,238,696
10            Tom Hanks          Mark Rylance   72,313,754
11           Tom Cruise         Colin Farrell  132,072,926
12     Richard Dreyfuss     François Truffaut  132,088,635
13       Christian Bale          Heath Ledger  534,858,444
14    Leonardo DiCaprio  Joseph Gordon-Levitt  292,576,195
15  Matthew McConaughey         Anne Hathaway  188,020,017
16       Christian Bale          Hugh Jackman   53,089,891
17       Christian Bale             Tom Hardy  448,139,099
18           Guy Pearce      Carrie-Anne Moss   25,544,867
19       Christian Bale         Michael Caine  206,852,432
20      Fionn Whitehead         Barry Keoghan  188,373,161